################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PetAPI/bin/Debug/net8.0
/PetAPI/obj
